* {
    box-sizing: border-box;
}

body {
    background-color: rgb(212, 209, 166);
}

.main {
    background-color:rgb(236, 233, 192);
    border: 3px solid rgb(0, 0, 0);
    width: 700px;
    margin: auto;

}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5px;
    margin-top:2px;
}

h2 {
    font-size: 26px;
    font-style: italic;
    margin-left: 30px;
    color:rgb(190, 136, 18)
}

.info {
    border: 2px solid rgb(0, 0, 0);
    width: 90%;
    height:auto;
    margin-bottom: 20px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(0, 2, 126);
    outline-style: double;
    outline-color: rgb(0, 117, 0);
    outline-width: 2px;
}

.link {
    text-align: center;
    font-size: 20px;
    color: rgb(58, 93, 190);
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    clear: left;
}

.green {
    
    font-size: 20px;
    color: rgb(41, 126, 30);
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    clear: left;
}


